$background-color-list-company: #f3f3f3;
h2 {
  font-size: 20px;
  margin: 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .companies-information {
    display: flex;
    width: 40%;
    flex-direction: column;
    height: 30ch;
    border: #363636 solid 1px;
    margin: 20px;
    align-items: center;
    h2 {
      text-align: center;
      width: 100%;
      color: #133613;
      min-height: 10%;
      border-bottom: #363636 solid 1px;
    }
    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      max-height: 90%;
      overflow-y: auto;
      ul {
        margin: 0;
        padding: 0;
      }
      a, li {
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        color: #006701;
        background-color: $background-color-list-company;
        &.active {
          background-color: red;
        }
      }
      .circle-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .circle {
          display: flex;
          width: 13ch;
          height: 13ch;
          background-color: #bbb;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          color: #006701;
        }
      }
      .company-partners {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: $background-color-list-company;
        margin: 0 0 0 1px;
        #sort-by-company-partners-name, #sort-by-company-partners-percentage {
          margin: 5px;
          a {
            font-size: 30px;
            background-color: #363636;
          }
        }
        .company-partner-item {
          margin: 5px 0 0 5px;
          width: 50%;
          a {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            color: #d0d0d0;
          }
        }
        .company-partner-name {
          text-align: left;
        }
      }
      .companies-location-chart {
        display: flex;
        align-self: center;
        width: 25ch;

      }
      .news-list {
        display: flex;
        height: 100%;
        position: relative;
        right: 0;
        h2 {
          min-height: 15%;
          background-color: $background-color-list-company;
          a {
            font-size: 40px;
            @media screen and (max-width: 980px){
              & {
                font-size: 20px;
              }
            }
          }
        }
        p {
          margin: 0;
        }
        .news {
          display: flex;
          min-height: 100%;
          .news-info {
            display: flex;
            flex-direction: column;
            width: 20ch;
            img {
              width: 100%;
              max-height: 70%;
            }
          }
          .news-text {
            display: flex;
            flex-direction: column;
            width: 50ch;
          }
        }
      }
    }
    .content-news {
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .company-loader {
      border: 16px solid $background-color-list-company;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      margin: 10px 0 0 0;
      width: 18ch;
      height: 18ch;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
    @media screen and (min-width: 1800px) {
      & {
        font-size: 40px;
        .content {
          max-height: 90%;
          .circle {
            min-width: 35ch;
            min-height: 35ch;
            span {
              font-size: 50px;
            }
          }
        }
      }
      h2 {
        font-size: 40px;
        min-height: 10%;
      }
    }
  }
  #news-all {
    width: 70ch;
  }
  @media screen and (max-width: 300px) {
    .companies-location-chart {
      width: 20ch;
    }
  }
}
