body {
  margin: 0 auto;
  padding: 0;
}
.btn-send-registration {
  width: 9ch;
  font-size: 25px;
  background-color: #3498db;
  border-radius: 10%;
}
.form-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 40ch;
  margin: 5px 0;
  .error-value {
    border: #8f1816 1px solid;
  }
  .error-description {
    color: #8f1816;
  }
  .form-item-input {
    width: 40ch;
    display: flex;
    flex-direction: row;
    input, select {
      width: 100%;
    }
    select {
      height: 4ch;
    }
    img {
      border: #000 1px solid;
      background-color: #d7d7d7;
      width: 4ch;
      height: 4ch;
    }
  }
  .registration-checkbox {
    margin: 30px 0 0 0;
    align-items: center;

    input {
      width: 5%;
    }
  }
  label {
    margin: 0;
  }
  .error-description {
    @media screen and (min-width: 1000px){
      position: absolute;
      width: 40ch;
      top: 4px;
      left: 100%;
    }
    &.error-description-checkbox {
      @media screen and (min-width: 1000px){
        position: absolute;
        width: 10ch;
        top: 4px;
        left: 0;
      }
    }
  }
  @media screen and (max-width: 999px){
    flex-direction: column;
  }
}